@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

html, body, #root {
  height: 100%;
  background-color: hsla(210, 13%, 6%, 1.00);
}

html {
  font-family: 'Poppins', sans-serif;
  color: hsla(210, 8%, 90%, 1.00);
}

/* Change the background color for the entire body */
body {
  background-color: #2a2a2a;
  color: #fff;
}

/* Change the title color */
h1 {
  color: #c8e8e6;
}

/* Darken the background for Ant Design cards and set text color */
.ant-card {
  background-color: #3a3a3a;
  color: #fff;
}

/* Optional: Add hover effects for Ant Design cards */
.ant-card:hover {
  background-color: #4a4a4a;
  transition: background-color 0.3s ease;
}

