@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

html, body, #root {
  height: 100%;
  background-color: #0d0f11;
}

html {
  font-family: 'Poppins', sans-serif;
  color: hsla(210, 8%, 90%, 1.00);
}

body {
  background-color: #2a2a2a;
  color: #fff;
}

h1 {
  color: #c8e8e6;
}

.ant-card {
  background-color: #3a3a3a;
  color: #ff1414;
}

.ant-card-head-title {
  color: #3b97e8;
}

.ant-table-thead {
  background-color: #1a1818;
  color: #000000;
}

.ant-card:hover {
  color: #000000;
  background-color: #4a4a4a;
  transition: background-color 0.3s ease;
}

.row-style thead {
  background-color: #ff4000;
}

.row-style td {
  background-color: #0d0f11;
}

.ant-table-cell {
  background-color: #1a1818;
  color: #000000;
}

.ant-table-thead .ant-table-cell {
  background-color: rgb(210, 220, 243) !important;
}
